* {
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #535965;
    --secondryColor: #1B252C;
    --sepraterBgColor: #eee;
    --primaryFontFamily:'Source Serif 4', serif;
    --secondryFontFamily:'Mulish', sans-serif;

    font-size: 16px;
}
body {
    font-family: var(--primaryFontFamily);
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}
h1{
    font-size: 2rem;
    text-align: center;
    font-family: var(--secondryFontFamily);
}
h4 {
 font-size: 1em;
 font-weight: 600;
}


header {
    display: grid;
    grid-template-columns: 120px auto 220px;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;

}
h1>span {
    color: #3D84FF;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

header nav ul li {
    margin-top: 1.93em;
    margin-bottom: 1.93em;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondryColor);
    text-align: center;
    font-size: 1rem;

}
nav + div  {
   display: flex;
   gap: 10px;

}
nav + div a {
    display: flex;
   gap: 10px;
    margin-right: .6em;
    color: var(--secondryColor);
}

.seprater {
    height: 100px;
    background-color: var(--sepraterBgColor);
}
footer > p {
    margin: 2.06em;
    margin-left: 10.9em;
} 

.footer__container{
    display: flex;
    justify-content: space-evenly;
}
.footer__container h4{
    margin-bottom: 1em;
}
.footer__nav ul {
    list-style: none;
}
.footer__nav ul li {
    margin-bottom: .5em;
}
.footer__nav ul li a {
    font-size: 1rem;
    color: var(--primaryColor);
}